* {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}

h1{
    margin-bottom: 70px;
}

body {
    background: rgb(171, 177, 184);
    margin-bottom: 100px;

}

#container{
    /* margin-left: 20px;
    margin-right: 20px; */
}

#rough{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -30px;
}

img{
    max-width: 500px;
    max-height: 500px;
    margin-left: 0px;
    margin-right: 0px;
}

#rough2{
    margin-top: 20px;
    text-align: center;
}

#d01{
    margin-top: 20px;
    margin-bottom: 0px;
}

#d02{
    margin-top: 10px;
    margin-bottom: 0px;
}

#d03{
    margin-top: 10px;
    margin-bottom: 50px;
}

#drafts{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: -30px;
}

#draft1{
    margin-top: 30px;
    margin-bottom: 5px;
}

#draft2{
    margin-top: 0px;
}

#final{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;

    margin-bottom: -30px;
}

#finald{
    margin-top: 20px;
    text-align: center;
}
